body{min-width: 1200px;}
.header{width: 100%;height: 35px;background: #f6f6f6;border-bottom: 1px solid #eeeeee;}
.header_center{width: 1190px;height: 35px;margin: 0 auto;/*background: red;*/}
.header_center ul li{height: 35px;line-height: 35px;}
.header_center .header_left{float: left;width: 280px;height: 35px;}
.header_center .header_right{float: right;}
.header_img{width: 12px;height: 12px;float: left;margin:10px 0px 0 0;}
/*.header_left img{float: left;}*/
.header_left ul li{float: left;margin-left: 10px;}
.header a:hover{color: #f89912;}
.header_right ul li{float: left;color: #acacac;text-align: center;}
.header_left ul li a{color: #979797;font-family: "微软雅黑";font-size: 12px;}
.header_left ul li .color_buyiyang{color: #37ab40;}
.header_right ul li a{color: #acacac; font-family: "微软雅黑";font-size: 12px;}
.header_right ul li span{padding: 0 11px 0 11px;}
.header_right ul li em{color: #f89912;}
.header_right ul li .left_span{padding: 0px 11px 0px 0px;position: relative;left: -3px;}
.header_right ul li .left_span1{padding: 0 0 0 11px;position: relative;left: 3px;}
.my_rouduo_div{width: 92px;height: 150px;margin-left: -1px;border:1px solid #acacac;border-top: none;background: #fff;
box-shadow: 1px 1px 1px #ccc,-1px 0px 0px #ccc;position: relative;z-index: 55;top: -2px;display: none;}
.my_rouduo_div ul li{text-align: center;width: 93px;height: 35px;}
.my_rouduo{width: 94px;position: relative;}
.my_rouduo:hover .my_rouduo_div{display: block;}
.my_rouduo:hover{border: 1px solid #acacac;height: 30px;border-bottom: none;margin-top: 3px;background: #fff;
width: 92px;box-shadow: 1px 1px 1px #ccc,-1px -1px 1px #ccc;position: relative;}
.my_rouduo:hover .my_rouduo_div{margin-top: -5px;}
.my_rouduo:hover .a_top{position: relative;top: -4px;}



.search{width: 1190px;height: 120px;margin: 0 auto;/*background: #ccc;*/overflow: hidden;}
.search .logo{width: 221px;height: 76px;margin-top: 16px;float: left;}
.search_box{float: left;}
.search_box{width: 494px;height: 70px;position: relative; margin: 40px 0 0 125px;}
.search_box input{width: 479px;height: 40px;border: 2px solid #37ab40; padding-left:15px ;outline: none;}
.search_box .sousuo{position: absolute;right:0px ;top:0px;width: 90px;height: 40px;font-family: "微软雅黑";font-size: 16px;
color: white;background: #37ab40;text-align: center;line-height: 40px;}
.search_right{float: right;margin: 26px 25px 0 0;}
.search_right .yzm{float: left;}
.search_right p{float: left;color: #000;font-family: "微软雅黑";font-size: 12px;line-height: 16px;margin-top: 38px;
margin-left: 8px;}

input::-webkit-input-placeholder {  
font-size: 14px;
color: #c7c7c7;

} 
input::-ms-input-placeholder {  
font-size: 14px;
color: #c7c7c7;

} 
input::-o-input-placeholder {  
font-size: 14px;
color: #c7c7c7;

} 
input::-moz-placeholder {  
font-size: 14px;
color: #c7c7c7;

} 
input::input-placeholder {  
font-size: 14px;
color: #c7c7c7;

} 

.search_box_ul li{float: left;margin-top: 5px;}
.search_box_ul li a{font-family: "微软雅黑";font-size: 12px; color: #cbcbcb;}
.search_box_ul li:not(.li_1){margin-left: 8px;}
.search_box_ul li .bianse{color: #f8a031;}


/*导航*/
.nav{width: 1190px;height: 35px;line-height: 35px;margin: 0 auto;}
.nav_left{color: #fff;font-size: 14px;font-family: "微软雅黑";width: 180px;height: 35px;background: #1ba125;
text-align: center;float: left;}
.nav_right{float: right;}
.nav_nr ul li a{float:left ;color: #666666;font-family: "微软雅黑";font-size: 14px;padding: 0px 1px 0 1px;}
.nav_nr ul li a:hover{border-bottom: 2px solid #1ba125;text-decoration: none;background: url(../img/daoh_sanjiao.png) no-repeat center 30px;}

.nav_nr ul li .wang_nav_nr_a1{border-bottom: 2px solid #1ba125;background: url(../img/daoh_sanjiao.png) no-repeat center 30px;}

.nav_nr ul li{float:left ;padding: 0px 20px 0px 20px;height: 31px;line-height: 33px;}
.nav_nr ul .wang_nav_nr_li1{padding: 0px 20px 0 15px;}

.nav_right{width: 198px;height: 34px;border: 1px solid #e5e5e5;background: #f9f9f9;color: #767676;font-family: "微软雅黑";
font-size: 12px;line-height: 34px;text-align: center;position: relative;}

.wang_nav_right_img1{width: 20px;height: 20px;float: left;position: absolute;top: 6px;left: 32px;}
.wang_tu0{width: 25px;height: 16px;background: #f89912;font-family: "微软雅黑";font-size: 14px;color: white;
display: inline-block;line-height: 16px;border-radius: 7px;position: absolute;top: 9px;right: 30px;}



/*轮播区域*/
.banner{height: 385px;background: #fcf1e1;width: 100%;}
.banner_zhong{width: 1190px;height: 385px;margin: 0 auto;}
.banner_left{width: 180px;float: left/*;border-top: 1px solid #45ba4e;*/}

.banner_left ul li em{color: #fff;font-family: 14px;font-family: "微软雅黑";line-height: 26px;}
.banner_left ul li a{ color: #a8eaad;font-family: "微软雅黑";font-size: 12px;line-height: 20px;}
.banner_left ul li{width: 180px;height:82px;border-top: 1px solid #45ba4e;border-bottom: 1px solid #189c22;
background: #37ab40;}
.banner_left ul li p{float: left;width: 102px;height: 70px;padding: 4px 0 0 13px;}
.banner_left ul li span{display: inline-block; float: left;margin: 10px 0 0 16px;}
.swiper-wrapper{width: 810px!important;height: 385px!important;}
.swiper-container{float: left!important;}
.banner_right{width: 198px;height: 384px;/*background: #ccc;*/float: right;border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;}
.W_span1{color: #000000;font-size: 14px;line-height: 20px;font-family: "微软雅黑";}
.W_span2{color: #ca1003;font-family: "微软雅黑";font-size: 20px;line-height: 20px;}
.W_span3{font-size: 14px;color: #858585; font-family: "微软雅黑";}
.banner_right_2_span1{color: #000000;font-size: 16px;line-height: 20px;font-family: "微软雅黑";}
.banner_right_2_span2{font-family: "微软雅黑";font-size: 14px;color: #fa1a0b;line-height: 22px;}
.banner_right_2_span3{color: #858585;font-family: "微软雅黑";font-size: 12px;}
.banner_right p{width: 115px;height: 60px;z-index: 3;position: relative;}
.banner_right .p1{margin: 22px 0 0 14px;}
.banner_right .p2{margin: 14px 0 0 13px;}
.banner_right .p3{margin: 21px 0 0 13px;}
.banner_right img{position: absolute;z-index: 2;}
.banner_right_1{width:198px;height: 146px;position: relative;overflow: hidden;background: #fff;}
.banner_right_2{width:198px;height: 100px;position: relative;overflow: hidden;margin-top: 4px;background: #fff;}
.banner_right_3{width:198px;height: 129px;position: relative;overflow: hidden;margin-top: 4px;background: #fff;}


.banner_two{width: 1190px;height: 185px;margin: 25px auto;/*background: pink;*/overflow: hidden;position: relative;}
.swiper-wrapper1 .swiper-slide1{width: 290px!important;height: 185px!important;}
.swiper-slide1 a{margin: 92px 0px 0px 18px;display: inline-block;}
.swiper-wrapper1{width: 1190px!important;height: 185px!important;position: absolute;left: -15px;}
.swiper-wrapper1 .swiper-slide{padding: 0px 5px 0 5px;}




.swiper-button-prev1{
    background-image: url(../img/btn_img1.png)!important;
    width: 40px;
    height: 78px;
    left: 0px!important;
    right: auto;
    
}
 .swiper-button-next1{
    background-image: url(../img/btn_img2.png)!important;
    width: 40px;
    height: 78px;
    right: 0px!important;
    right: auto;
    
}



.W_zheng{width: 1190px;height: 465px;margin: 0 auto;/*background: pink;*/}
.W_zheng .W_zheng_left{width: 288px;height: 463px;border: 1px solid #e5e5e5;float: left;text-align: center;background: #fff;}

.W_zheng_left .W_zheng_left_img1{margin:8px 0 0 -120px ;}
.W_zheng_left .W_zheng_left_img2{}
.W_zheng_left p{color: #8e8e8e;font-family: "微软雅黑";font-size: 14px;line-height: 17px;width: 60px;height: 35px;
 float: right;margin-top: -42px;margin-right: 15px;}
.W_zheng_left em{font-family: "微软雅黑";color: #37ab40;font-size: 22px;margin: 16px 0 5px 0;display: inline-block;}
.W_zheng_left_bottom_span1{font-family: "微软雅黑";font-size: 24px;line-height: 25px;color: #e02200;}
.W_zheng_left_bottom_span2{font-size: 14px;color: #918f8f;font-family: "微软雅黑";}
.W_zheng_left_bottom_zi{width: 90px;height: 40px;text-align: left;margin: 9px 0 0 12px;}
.W_zheng_left_bottom_btn{color: white;font: "微软雅黑";font-size: 16px;width: 100px;height: 36px;background: #ff4c4c;
	text-align: center;;line-height: 36px;border-radius: 8px;float: right;margin-top: -40px;margin-right: 12px;}
.W_zheng_right_top_1_img{float: left;}
.W_zheng_right{float: right;width: 890px;}
.W_zheng_right_top_1{width: 860px;height: 40px;line-height: 40px;float: left;/*background: #ccc;*/}
.W_zheng_right_top_1 p{font-family: "微软雅黑";font-size: 14px;color: #8b8b8b;width: 665px;height: 40px;float: left;}
.W_zheng_right_top_1 p span{width: 25px;height: 25px;border-radius: 7px;background: #444851;text-align: center;line-height: 25px;
	display: inline-block;color: #fff;font-family: 16px;font-weight: bold;font-family: "微软雅黑";}
.W_zheng_right_top_1 strong{color: #000;font-size: 18px;font-family: "微软雅黑";}

.W_zheng_right_top_2 ul	li{text-align: center; line-height:15px;float: left;color: #fff;
font-family: "微软雅黑";font-size: 14px;/*width: 127px;*//*height: 42px;*/background:url(../img/buhui_img.jpg) no-repeat;
padding: 6px 39.5px 11px 39.5px;cursor: pointer;margin-top: 2px;}
 .W_zheng_right_top_2 ul	li span{float: left;color: #fff;font-family: "微软雅黑";font-size: 12px;}
 .W_zheng_right_top_2 ul .W_zheng_right_top_2_li1{background: url(../img/xingqi.png) no-repeat center 0px;}
.W_zheng_right_top_2 ul	li:hover{background: url(../img/xingqi.png) no-repeat center 0px;}


.W_zheng_right_bottom{width: 890px;height: 362px;/*background: #ccc;*/margin-top: 102px;position: relative;
overflow: hidden;}

.swiper-wrapper2 .swiper-slide2{width: 288px!important;height: 360px!important;border: 1px solid #e5e5e5;
margin-left:10px;text-align: center;position: relative;}
 .swiper-wrapper2{/*width: 890px!important;*/height: 362px!important;position: absolute;left: -20px;}
.swiper-wrapper2_em{color: #404040;font-size: 14px;font-family: "微软雅黑";margin-top: 10px;display: inline-block;
float: left;margin-top: 6px;margin-left: 16px;}
.swiper-wrapper2_span{font-size: 18px;color: #e02200;font-family: "微软雅黑";}
.swiper-slide2_p{color: #000;font-family: "微软雅黑";font-size: 14px;width: 73px;height: 26px;
border-right: 1px solid #bbbbbb;text-align: center;line-height: 26px;margin: 37px 0 0 3px;}
.swiper-slide2_p2{position: relative;top: -26px;left: 86px;width: 75px;}
.swiper-slide2_2{position: relative;top: -7px;}
.swiper-slide2_1{color: #e02200;font-family: "微软雅黑";font-size: 12px;line-height: 16px;}
.swiper-slide2_1 i{font-style: normal;font-size: 18px;font-weight: 700;line-height: 18px;}
.swiper-slide2 img{margin-top: 10px;}
.swiper-slide2_2{color: #a8a8a8;font-family: "微软雅黑";font-size: 12px;text-decoration: line-through;
}
.lunbo_div2{position: absolute;top: 0px;color: #fff;width: 80px;height: 30px;font-family: "微软雅黑";font-size: 16px;
line-height: 30px;text-align: center;background: #ff4c4c;border-radius: 5px;right: 10px;top: 310px;}
.lunbo_div1{position: absolute;top: 0px;color: #fff;width: 80px;height: 30px;font-family: "微软雅黑";font-size: 16px;
line-height: 30px;text-align: center;background: #bbbbbb;border-radius: 5px;right: 10px;top: 310px;}


.cuxiao{width: 1190px;margin: 0 auto;height: 467px;/*background: #ccc;*/margin-top: 16px;}
.cuxiao_top h4{font-size: 20px;font-family: "微软雅黑";color: #404040;float: left;margin: 0px 0 0 10px;}
/*.cuxiao_top span{float: left;}*/
.cuxiao_top{height: 45px;width: 1190px;border-bottom: 2px solid #4bae00;line-height: 45px;}
.cuxiao_top_img{width: 40px;height: 40px;float: left;margin: 2px;}
.cuxiao_top span{font-size: 14px;font-family: "微软雅黑";color: #8e8e8e;margin: 0 0 0 12px;display: inline-block;}

.cuxiao_nr_1{float: left; width: 236px;height: 420px;border: 1px solid #e5e5e5;border-top: none;text-align: center;overflow: hidden;}
.cuxiao_nr_1 .wenzi_top{width: 135px;height: 60px;/*background: red;*/margin-left: 53px;margin-top: 30px;}
.cuxiao_nr_1 .W_long{width: 135px;height: 32px;color: #fff;font-size: 16px;font-family: "微软雅黑";line-height: 32px;
text-align: center;border-radius: 10px;background: #8fc028;}
.cuxiao_nr_1 .wenzi_top span{font-family: "微软雅黑";font-size: 14px;color: #848484;margin-top: 7px;display: inline-block;}

.cuxiao_nr_img1{margin-top: 30px;}
.cuxiao_nr_1_span2{color: #be0a2a;font-size: 18px;font-family: "微软雅黑";}
.cuxiao_nr_1_span1{font-size: 16px;line-height: 23px;color: #545454;font-family: "微软雅黑";}
.ppp{margin-top: 19px;}



.cuxiao_nr_2{float: left; width: 470px;height: 210px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.cuxiao_nr_2_left_div1{font-family: "微软雅黑";font-size: 14px;color: #fff;line-height: 30px;width: 72px;height: 30px;
text-align: center;background: #a1c956;border-radius: 15px;margin:43px 0 0 24px; ;}

.cuxiao_nr_2_span1{font-size: 16px;line-height: 20px;font-family: "微软雅黑";color: #545454;}
.cuxiao_nr_2_span2{font-size: 16px;font-family: "微软雅黑";color: #848484;}
.cuxiao_nr_2_span3{font-size: 18px;font-family: "微软雅黑";color: #be0a2a;margin-top: 11px;display: inline-block;}
.ppp1{width: 180px;height: 75px;margin: 13px 0 0 24px;}
.cuxiao_nr_2_left{float: left;}
.cuxiao_nr_2_right{float: right;}
.cuxiao_nr_3{float: left;width: 245px;height: 210px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.cuxiao_nr_3_img1{width: 245px;height: 209px;background: url(../img/cu_yu.jpg) no-repeat;}
.cuxiao_nr_3_img1 span{font-size: 12px;height: 25px;display: inline-block;line-height: 25px;color: #45a100;margin: 20px 0 0 97px;}
.cuxiao_nr_4{float: left;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;width: 234px;height: 210px;}
.cuxiao_nr_4_img1{ background: url(../img/cu_jitui.jpg) no-repeat;width: 234px;height: 209px;}
.cuxiao_nr_4_img1 span{font-size: 12px;height: 25px;display: inline-block;line-height: 25px;color: #45a100;margin: 20px 0 0 97px;}
.cuxiao_nr_5{float: left; width: 470px;height: 209px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;
position: relative;}
.cuxiao_nr_5_img_5{position: absolute;top: -1px;right: 0px;}
.cuxiao_nr_6{float: left;width: 245px;height: 209px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.cuxiao_nr_7{float: right;width: 234px;height: 209px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}



/*一楼*/
.yilou_top{float: left;}
.yilou{width: 1190px;height: 485px;margin: 0 auto;/*background: pink;*/margin-top: 14px;}
.yilou_top{width: 1190px;height: 40px;border-bottom: 2px solid #4bae00;}
.yilou_top_left_logo{background: url(../img/qin_logo.png) no-repeat;width: 35px;height: 35px;float: left;font-size: 16px;
font-family: "微软雅黑";color: white;line-height: 42px;text-align: center;margin: 2px 0 0 6px;}
.yilou_top_left{float: left;}
.yilou_top_right{float: right;margin-right: 5px;}
.yilou_top_left span{font-family: "微软雅黑";font-size: 18px;color: #4bae00;line-height: 46px;margin-left: 12px;}
.yilou_top_right ul li{float: left;line-height: 42px;}
.yilou_top_right ul li a{font-family: "微软雅黑";font-size: 12px;color: #4c4c4c;}
.yilou_top_right ul li span{padding: 0 5px 0 5px;color: #cbcbcb;}
.yilou_nr1{float: left;width: 237px;height: 443px;background: url(../img/qin_img1.jpg) no-repeat;}
.erlou_nr1{background: url(../img/chu_img1.jpg) no-repeat;}
.sanlou_nr1{background: url(../img/left_img2.jpg) no-repeat;}
.silou_nr1{background: url(../img/left_img3.jpg) no-repeat;}
.yilou_nr1_nnr1{background: url(../img/qin_top_ding.png) no-repeat;width: 70px;height: 80px;text-align: center;margin: 0 0 0 14px;}
.yilou_nr1_nnr1 span{font-family: "微软雅黑";font-size: 14px;color: white;line-height: 20px;font-weight: bold;display: inline-block;margin-top: 6px;}
.yilou_nr1_nnr2{width: 199px;height: 100px;}
.yilou_nr1_nnr2_span1{color: #9db84b;font-family: "微软雅黑";font-weight: bold;font-size: 18px;line-height: 37px;}
.yilou_nr1_nnr2_span2{color: #fb5b71;font-weight: 700;font-size: 14px;}
.yilou_nr1_nnr2_a1 {width: 100px;height: 37px;background: #9db84b;display: block;font-family: "微软雅黑";font-size: 14px;color: #fff000;
	line-height: 37px;margin-top: 11px;}
.yilou_nr1_nnr2{margin: 20px 0 0 14px;}
.yilou_nr1_nnr2_a1 span{position: relative;right: -4px;}
.yilou_nr1_nnr2_a1 img{position: relative;top: 7px;left: 8px;}


.yilou_nr2{float: left;width: 237px;height: 220px;border:1px solid #e5e5e5;}
.yilou_nr2_bottom_h4{color: #404040;font-family: "微软雅黑";font-size: 12px;margin-top: 3px;}
.yilou_nr2_bottom{width: 210px;height: 45px;margin-left: 10px;}
.yilou_nr1_span1{color: #e02200;font-family: "微软雅黑";font-size: 16px;margin-top: 5px;display: inline-block;}
.yilou_nr1_span2{color: #a8a8a8;font-family: "微软雅黑";font-size: 12px;display: inline-block;margin-left: 2px;}
.yilou_nr1_span3{color: #a8a8a8;font-family: "微软雅黑";font-size: 12px;display: inline-block;margin-left: 70px;}
.yilou_nr3{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
.yilou_nr4{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
.yilou_nr5{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
.yilou_nr6{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5;;}
.yilou_nr7{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.yilou_nr8{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.yilou_nr9{float: left;width: 237px;height: 220px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.yilou_nr9_img img{width: 237px;height: 220px;}
.yilou_nr5_img img{width: 237px;height: 220px;}

.er_yilou_nr1_nnr2_span1{color: #ff3e5e;}
.er_yilou_nr1_nnr2_span2{color: #d18d26;}
.san_nr_img1{background: url(../img/san_ding.png) no-repeat;}
.san_yilou_nr1_nnr2_span1{color: #2eaaea;}
.erlou_bg_img{background: url(../img/chu_doing.png) no-repeat;}
.erlou_dianji{background: #ff3e5e; color: white;}
.san_span_zi{color: white;margin-left: 2px;}
.si_yilou_nr1_nnr1{background: url(../img/si_ding.png)no-repeat;}
.san_yilou_nr1_nnr2_a1{background: #2eaaea;}
.si_yilou_nr1_nnr2_a1{background: #ffa800;color: white;}
.si_yilou_nr1_nnr2_a1 span{margin-left: 2px;}
.si_yilou_nr1_nnr2_span1{color: #d28e0c;}


.W_an{width: 100%;height: 120px;margin-top: 43px;border-top: 2px solid #e5e5e5;}
.W_an_nr{width: 1190px;height: 120px;margin: 0 auto;/*background: pink;*/}
.W_an_nr img{float: left;}
.W_an_div1{float: left;width: 317px;height: 59px;margin-top: 30px;}
.W_an_div2{float: left;width: 317px;height: 59px;margin-top: 30px;}
.W_an_div3{float: left;width: 317px;height: 59px;margin-top: 30px;}
.W_an_div4{float: left;width: 239px;height: 59px;margin-top: 30px;}
.anquan{font-size: 22px;color: #4bad5b;font-family: "微软雅黑";font-weight: bold;}
.anquan1{font-family: "微软雅黑";font-size: 16px;color: #686868;}
.W_an_nr p{height: 44px;/*margin:8px 0px 0px 27px;*/line-height: 18px;margin-top: 8px;display: inline-block;
margin-left: 17px;}


.footer_d{width: 100%;height: 237px;border-bottom: 1px solid #e5e5e5;background: #f6f6f6;}
.footer_d_nr{width: 1190px;height: 237px;margin: 0 auto;/*background: pink;*/}
.footer_d_left ul h4{font-family: "微软雅黑";font-size: 18px;font-weight: bold;color: #494949;line-height: 32px;}
.footer_d_left ul li a{line-height: 26px; font-family: "微软雅黑";font-size: 12px;color: #686868;}
.footer_d_left ul {float: left;margin-top: 40px;}
.footer_d_left ul:not(.footer_d_left_ul1){margin-left: 95px;}

.footer_d_nr .footer_d_left .footer_d_left_ul1_5{margin-left: 115px;}
.footer_d_left{float: left;}
.footer_d_right{float: right;}
.footer_d_right_img{width: 240px;height: 125px;}

.footer_d_right_img_1{float: left;}
.footer_d_right_img_2{float: right;}
.footer_d_right_img span{display: inline-block;color: #494949;font-size: 12px;font-family: "微软雅黑";line-height: 25px;}
.footer_d_right_span2{margin-left: 70px;}
.footer_d_right_span1{margin-left:22px ;}
.footer_d_right_img{margin: 47px 5px 0 0;}

.footer{width: 100%;height: 130px;margin: 0 auto; /*background: #ccc;*/overflow: hidden;background: #f6f6f6;}
.footer_nr{width: 675px;height: 70px;/*background: pink;*/margin: 0 auto;text-align: center;margin-top: 17px;}
.footer_nr ul li{float: left;}
.footer_nr em{color: #999999; font-size: 12px; font-family: "微软雅黑";}
.footer_nr ul li:not(.footer_li1){margin-left: 9px;}
.footer_li1{margin-left: 17px;}
.footer_nr ul{margin-top: 17px;}



/*右侧购物车*/
.car_right{width: 37px;height: 1004px;background: #000;position: fixed;right: 0px;top: 0px;z-index: 666;}
.car_1{width: 37px;height: 125px;text-align: center;background: url(../img/gouwu_1_1.png) no-repeat;margin-top: 288px;
cursor: pointer;}
.car_1_span1{width: 19px;height: 15px;display: block;margin-left: 10px;padding-top: 16px;}
.car_1_span2{font-family: "微软雅黑";font-size: 12px;line-height: 18px;color: white;display:  block;margin-top: 4px;}
.car_1_span3{display: block;width: 20px;height: 20px;border-radius: 50%;background: #c40000;font-family: "微软雅黑";
font-size: 12px;color: #ffffff;line-height: 20px;text-align: center;margin: 2px 0 0 9px;}

.car_2{margin-top: 8px;width: 37px;height: 35px;text-align: center;/*background: red;*/cursor: pointer;}
.car_2 img{margin-top: 10px;}

.car_3{margin-top: 8px;width: 37px;height: 35px;text-align: center;/*background: red;*/cursor: pointer;}
.car_3 img{margin-top: 9px;}

.car_4{margin-top: 8px;width: 37px;height: 35px;text-align: center;cursor: pointer;}
.car_4 img{margin-top: 9px;}

.car_5{margin-top: 8px;width: 37px;height: 35px;text-align: center;margin-top: 384px;cursor: pointer;}
.car_5 img{margin-top: 9px;}

.car_6{margin-top: 8px;width: 37px;height: 35px;text-align: center;/*background: red;*/cursor: pointer;display: none;}
.car_6 img{margin-top: 7px;}
.car_6 em{font-family: "微软雅黑";font-size: 12px;color: #ffffff;display: block;position: relative;top: -5px;}

.car_6:hover{background: #c40000;z-index: 777;}
.yz_none{width: 170px;height: 220px;border: 1px solid #d1d1d1;position: fixed;right: 37px;top: 760px;bottom: px;z-index: 777;
text-align: center;background: #fff;display: none;}
.yz_none img{margin-top: 25px;}

.yz_none_span1{font-family: "微软雅黑";font-size: 12px;color: #5f5f5f;}
.yz_none_span2{color: #c84242;font-size: 11px;}
.sanjiao1{width: 9px;height: 14px;position: absolute;right:-9px;top: 150px;}

.top1{width: 97px;height: 35px;background: url(../img/car_p.png) no-repeat;position: fixed;right: 30px;top: 421px;
z-index: 777;color: #fffefe;font-size: 12px;font-family: "微软雅黑";line-height: 35px;text-align: center;}
.top2{width: 97px;height: 35px;background: url(../img/car_p.png) no-repeat;position: fixed;right: 30px;top: 464px;
z-index: 777;color: #fffefe;font-size: 12px;font-family: "微软雅黑";line-height: 35px;text-align: center;}


.top1,.top2{display: none;}


.zuoce_dao{width: 28px;height: 116px;position: fixed;top: 380px;left: 300px;display: none;}
.zuoce_dao ul li a{font: 12px; color: #4bae00;font-family: "微软雅黑";display: block;position: absolute;top: 5px;left: 0px;
opacity: 0;}
.zuoce_dao ul li a:hover{text-decoration: none;}
.zuoce_dao ul li{line-height: 15px;width: 28px;height: 45px;text-align: center;position: relative;cursor: pointer;}
.zuoce_dao ul li:not(.no_border){border-bottom:1px solid #e5e5e5;}
.hover_img{width: 28px;height: 45px;}